<div class="page" style="padding:20px 0px 0px 0px;">
    <form class="layui-form " action="{:url('system/roles/edit')}" method="post" enctype="multipart/form-data">
        <div class="layui-form-item">
              <label class="layui-form-label">角色名称</label>
              <div class="layui-input-inline">
                <input type="text" name="role_name" value="{$obj.role_name}" lay-verify="require" class="layui-input">
              </div>
         </div>
        <div class="layui-form-item">
              <label class="layui-form-label">备注信息</label>
              <div class="layui-input-inline">
                <input type="text" name="remarks" value="{$obj.remarks}" class="layui-input">
              </div>
         </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
              <input type="checkbox" name="status" lay-skin="switch" lay-text="ON|OFF" <if condition="$obj.status eq '1'">checked="checked"</if> value="1">
            </div>
        </div>
        
		 <div class="layui-form-item">
		    <div class="layui-input-block">
		      <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
		    </div>
		 </div>
		  
		 <input type="hidden" value="{$obj.id}" name="id">
    </form>

</div>
<script>
</script>