<div class="page">

    <div class="layui-input-block" >
        <if condition="$type eq 2">
                <a href="{:url('Area/AreaList',array('type'=>1))}" class="layui-btn"><i class="fa fa-mail-reply"></i> 返回省级</a>
            <elseif condition="$type eq 3" />
                <a href="{:url('Area/AreaList',array('areacode'=>$pcode,'type'=>2))}" class="layui-btn"><i class="fa fa-mail-reply"></i> 返回市级</a>
        </if>
    </div>

    <div class="clear"></div>
    <!-- 模板样式 -->
    <div class="layui-form">
        <table class="layui-table">
            <thead>
            <tr>
                <th nowrap="nowrap">ID</th>
                <th nowrap="nowrap">城市名</th>
                <th nowrap="nowrap" width="200px;">操作</th>
            </tr>
            </thead>
            <tbody>

            <volist name="data['list']" id="val">
                <tr>
                    <td nowrap="nowrap">{$val["id"]}</td>

                    <if condition="$type eq 1">
                            <td nowrap="nowrap">{$val["provence"]}</td>
                        <elseif condition="$type eq 2" />
                            <td nowrap="nowrap">{$val["city"]}</td>
                        <else />
                            <td nowrap="nowrap">{$val["area"]}</td>
                    </if>

                    <td nowrap="nowrap">

                        <div class="layui-btn-group">
                            <a href="javascript:openWindow('编辑城市', '{:url(\'Area/AreaData\', array(\'id\'=>$val[\'id\'],\'areacode\'=>$val[\'code\'],\'pcode\'=>$pcode,\'type\'=> $type))}', '600px', '550px')" class="layui-btn layui-btn-sm" title="编辑城市">
                                <i class="layui-icon"></i>
                            </a>

                            <if condition="$type neq 3">
                                <a href="{:url('Area/AreaList', array('areacode'=>$val['code'],'pcode'=>$pcode,'type'=> $gradetype))}" class="layui-btn layui-btn-sm layui-btn-normal" title="查看下级">
                                    <i class="layui-icon">&#xe61a;</i>
                                </a>
                            </if>
                        </div>

                        <!--&nbsp;-->
                        <!--<if condition="$val.id neq 100">-->
                            <!--<a href="javascript:sure('确定删除这条数据？', '{:url('system/admins/delete', array('id'=>$val['id']))}')" class="delIcon" title="删除"><i class="fa fa-trash-o"></i></a>-->
                        <!--</if>-->
                    </td>
                </tr>
            </volist>

            </tbody>
        </table>
        <div class="tabletool">
            <!-- 分页工具 -->
            <div id="limitpage" class="r"></div>
            <div class="clear"></div>
        </div>

    </div>

</div>

<script>

</script>