<link rel="stylesheet" href="/static/layui/css/layui2.0.css" type="text/css">
<div class="page">

    <form class="layui-form" action="{:url('useraccount/index')}">

        <div class="layui-form-item ">
            <div class="layui-input-block layui-col-sm4">
                <input type="text" name="title"  placeholder="请输入用户昵称/联系电话"  class="layui-input" value="{$query['title']}">
            </div>
            <label class="layui-form-label">用户等级:</label>
            <div class="layui-input-inline ">
                <select name="level" lay-verify="require">
                    <option value="0">全部用户</option>
                    <option value="1" <if condition="$query['level'] eq 1"> selected="selected"</if>>普通用户</option>
                    <option value="2" <if condition="$query['level'] eq 2"> selected="selected"</if>>超级达人</option>
                    <option value="3" <if condition="$query['level'] eq 3"> selected="selected"</if>>营销达人</option>
                    <option value="4" <if condition="$query['level'] eq 4"> selected="selected"</if>>运营达人</option>
                    <option value="5" <if condition="$query['level'] eq 5"> selected="selected"</if>>玩主</option>
                </select>
            </div>
            <!--<label class="layui-form-label"></label>-->
            <span class="input-group-btn layui-input-block">
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              <button type="submit" class="layui-btn "><i class="fa fa-search"></i> 搜索</button>
            </span>
        </div>
    </form>

    <!-- 模板样式 -->
    <div class="layui-form">
        <if condition="!empty($data.list)">
            <table class="layui-table" lay-skin="line" >
                <thead>
                <tr>
                    <th >头像</th>
                    <th >昵称</th>
                    <th >电话</th>
                    <th >用户等级</th>
                    <th >现金支出总额</th>
                    <th >现金收入总额</th>
                    <th >现金余额</th>
                    <th >佣金支出总额</th>
                    <th >佣金收入</th>
                    <th >佣金余额</th>
                    <th >积分支出总额</th>
                    <th >积分收入总额</th>
                    <th >积分余额</th>
                    <th width="100">操作</th>
                </tr>
                </thead>
                <volist name="$data.list" id="val">
                    <tbody>
                    <tr class="goods_info_hover">
                        <td ><img src="{$val['avatar']}" class="avatar"></td>
                        <td >{$val['nickname']}</td>
                        <td >{$val['mobile']}</td>
                        <td class="site-text">
                            <if condition="$val['level'] eq 1">
                                <label class="layui-badge layui-bg-gray">普通用户</label>
                                <elseif condition="$val['level'] eq 2"/>
                                <label class="layui-badge layui-bg-black">超级达人</label>
                                <elseif condition="$val['level'] eq 3"/>
                                <label class="layui-badge layui-bg-blue">营销达人</label>
                                <elseif condition="$val['level'] eq 4"/>
                                <label class="layui-badge layui-bg-orange">运营达人</label>
                                <elseif condition="$val['level'] eq 5" />
                                <label class="layui-badge ">玩主</label>
                            </if>
                        </td>
                        <td>{$val.account_cash_expenditure}</td>
                        <td>{$val.account_cash_income}</td>
                        <td>{$val.account_cash_balance}</td>
                        <td>{$val.account_commission_expenditure}</td>
                        <td>{$val.account_commission_income}</td>
                        <td>{$val.account_commission_balance}</td>
                        <td>{$val.account_points_expenditure}</td>
                        <td>{$val.account_points_income}</td>
                        <td>{$val.account_points_balance}</td>
                        <td >
                            <div class="layui-btn-group">
                                <a href="{:url('useraccount/month', array('id'=>$val['user_id']))}" class="layui-btn layui-btn-sm" title="用户详情">
                                    <i class="layui-icon">详情</i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </volist>
            </table>
            <else />
                <div class="layui-field-title"></div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        暂无数据w(ﾟДﾟ)w
                    </div>
                </div>
        </if>
        <div class="tabletool">
            <!-- 分页工具 -->
            <div id="limitpage" class="r"></div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<script>
</script>