
<div class="layui-input-block" >
    <a href="{:url('User/UserList')}" class="layui-btn"><i class="fa fa-mail-reply"></i> 返回列表</a>
</div>

<div class="page" style="padding:20px 0px 0px 0px;">
    <form class="layui-form layui-input-block" action="{:url('Userauth/AuthData')}" method="post" enctype="multipart/form-data">
        <input type='hidden'  name="id" value="{$data['auth_id']}">

        <div class="layui-form-item col-sm-2">
            <label class="layui-form-label">用户头像：</label>
            <div class="layui-input-block" style="border: none">
                <img src="/static/images/bg1.jpg" class="col-sm-12" style="width:150px;height:150px;border-radius: 150px; -webkit-border-radius: 150px;">
                <div class="layui-field-title"></div>
            </div>
        </div>

        <div class="layui-form-item col-sm-6">
            <label class="layui-form-label">推荐码：</label>
            <div class="layui-input-block">
                <input type="text"  lay-verify="min7" class="layui-input" disabled value="{$data['recode']}">
            </div>
        </div>

        <div class="layui-form-item col-sm-6">
            <label class="layui-form-label">手机号：</label>
            <div class="layui-input-block">
                <input type="text"  lay-verify="min7" class="layui-input" disabled value="{$data['mobile']}">
            </div>
        </div>

        <div class="layui-form-item col-sm-6">
            <label class="layui-form-label">用户昵称：</label>
            <div class="layui-input-block">
                <input type="text"  lay-verify="min7" class="layui-input" disabled value="{$data['nickname']}">
            </div>
        </div>


        <div class="layui-form-item col-sm-6">
            <label class="layui-form-label">下级人数：</label>
            <div class="layui-input-block">
                <input type="text"  lay-verify="min7" class="layui-input" disabled value="{$data['childcount']}">
            </div>
        </div>

        <div class="layui-form-item col-sm-6">
            <label class="layui-form-label">用户等级：</label>
            <div class="layui-input-block">
                <div class="layui-form-mid layui-word-aux">
                    <if condition="$data['level'] eq 1">
                        <label class="layui-badge layui-bg-gray">普通用户</label>
                        <elseif condition="$data['level'] eq 2"/>
                        <label class="layui-badge layui-bg-black">超级达人</label>
                        <elseif condition="$data['level'] eq 3"/>
                        <label class="layui-badge layui-bg-blue">营销达人</label>
                        <elseif condition="$data['level'] eq 4"/>
                        <label class="layui-badge layui-bg-orange">运营达人</label>
                        <elseif condition="$data['level'] eq 5" />
                        <label class="layui-badge ">玩主</label>
                    </if>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">经纬度:</label>
            <div class="layui-input-inline">
                <input type="text"  disabled   class="layui-input">
            </div>
            <div class="layui-input-inline">
                <input type="text"  disabled    class="layui-input">
            </div>
        </div>

        <div class="layui-form-item col-sm-6">
            <label class="layui-form-label">注册时间</label>
            <div class="layui-input-block">
                <input type="text"  lay-verify="min7" class="layui-input" disabled value="{$data['reg_time']|date='Y-m-d H:i',###}">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            </div>
        </div>
</form>
</div>

<script>

    function teststatus(s) {
        if(s == 1){
            $('#reasons').css('display','block');
        }else{
            $('#reasons').css('display','none');
        }
    }

    $('form').submit(function(){
        var status = $("input[name='status']:checked").val();
        var remark = $("#remark").val();

        if (status == undefined){
            layer.msg('请选择审核状态', {icon: 2});
            return false;
        }

        if(status == 1){
            if(remark.length != ""){
                if (remark.length < 10 || remark.length > 30) {
                    layer.msg('驳回原因不能小于10字大于30字', {icon: 2});
                    return false;
                }
            }else{
                layer.msg('请输驳回原因10-30字', {icon: 2});
                return false;
            }
        }

        return true;
    })
</script>