<div class="page" style="padding:20px 0px 0px 0px;">
    <form class="layui-form " action="{:url('User/UserAppend')}" method="post" enctype="multipart/form-data">

        <div class="layui-form-item">
            <div class="layui-input-block">
                <label class="layui-btn layui-btn-lg" onclick="nicknameadd()">添加更多</label>
            </div>
        </div>

        <div class="layui-form-item col-sm-12" id="content">
            <label class="layui-form-label">用户昵称：</label>
            <div class="layui-input-block">
                <input type="text"  name="nickname[]" class="layui-input col-sm-10 nick">
                <div class="layui-form-mid layui-word-aux">昵称最少1字最多10字</div>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            </div>
        </div>
</form>
</div>

<script>

    function nicknameadd(){

        var html = '<div class="layui-form-item col-sm-12" >\n' +
            '            <label class="layui-form-label">用户昵称：</label>\n' +
            '            <div class="layui-input-block">\n' +
            '                <input type="text" id="nickname" name="nickname[]" class="layui-input col-sm-10 nick">\n' +
            '                <div class="layui-form-mid layui-word-aux">昵称最少1字最多10字</div>\n' +
            '            </div>\n' +
            '        </div>';

        $("#content").append(html);

    }


    $('form').submit(function(){
        var nick = $('.nick');

        for (var i = 0; i < nick.length; i++) {
            var nickname = $(nick[i]).val();

            if (nickname.length < 1 || nickname.length > 10) {
                layer.msg('昵称不能小于1字大于10字,请全部填写', {icon: 2});
                return false;
            }
        }

        return true;
    })
</script>