<style>
    ul,
    ol {
        padding: 0;
        margin: 0 0 10px 25px
    }
    ul ul,
    ul ol,
    ol ol,
    ol ul {
        margin-bottom: 0
    }

    li {
        line-height: 20px
    }

    .tree {
        min-height:20px;
        padding:19px;
        margin-bottom:20px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
    }
    .tree li {
        list-style-type:none;
        margin:0;
        padding:10px 5px 0 5px;
        position:relative
    }
    .tree li::before, .tree li::after {
        content:'';
        left:-20px;
        position:absolute;
        right:auto
    }
    .tree li::before {
        border-left:1px solid #999;
        bottom:50px;
        height:100%;
        top:0;
        width:1px
    }
    .tree li::after {
        border-top:1px solid #999;
        height:20px;
        top:25px;
        width:25px ;
    }
    .tree li span {
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border:1px solid #999;
        border-radius:5px;
        display:inline-block;
        padding:3px 8px;
        text-decoration:none
    }
    .tree li.parent_li>span {
        cursor:pointer
    }
    .tree>ul>li::before, .tree>ul>li::after {
        border:0
    }
    .tree li:last-child::before {
        height:30px
    }
    .tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
        background:#eee;
        border:1px solid #94a0b4;
        color:#000
    }
    .avatar {
        width: 25px;
        height: 25px;
    }
</style>
<div class="page">
    <div class="tree well">
        <h2>{$user.nickname}关系谱</h2>
        <ul>
            <li>
                <span data-uid="{$user.user_id}" onselectstart="return false;"><i class="fa fa-plus-circle"></i>{$user.nickname}/{$user.mobile}<img src="{$user.avatar}" class="avatar"/></span>
                <ul>

                    <volist name="$list" id="val">
                        <li>
                            <span data-uid="{$val.user_id}" onselectstart="return false;" onclick="getUserFriends(this,'{$val.user_id}')"><i class="fa fa-male"></i>{$val.nickname}<img src="{$val.avatar}" class="avatar"/></span>
                            <ul class="child"></ul>
                        </li>
                    </volist>
                </ul>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
    $(function() {
        $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
        $('.tree li.parent_li > span').dblclick(function(e) {
            var children = $(this).parent('li.parent_li').find(' > ul > li');
            if (children.is(":visible")) {
                children.hide('fast');
                $(this).attr('title', 'Expand this branch').find(' > i').addClass('fa-minus-circle').removeClass('fa-plus-circle');
            } else {
                children.show('fast');
                $(this).attr('title', 'Collapse this branch').find(' > i').addClass('fa-plus-circle').removeClass('fa-minus-circle');
            }
            e.stopPropagation();
        });
    });

    function getUserFriends(that,uid) {
        var loading = layer.load(1, {
            shade: [0.1,'#fff'] //0.1透明度的白色背景
        });

        var $html = '';
        $.ajax({
            type: "POST",
            url: '/system/ajax/getUserFriends',
            data: {'uid':uid},
            dataType:'json',
            success: function(res){
                layer.close(loading);
                var obj = res.data;
                if(obj.length){
                    for(var i = 0; i<obj.length; i++){
                        $html += '<li class="parent_li"><span onselectstart="return false;" onclick="getUserFriends(this,'+obj[i].user_id+')"><i class="fa fa-male"></i>'+(obj[i].nickname)+(obj[i].mobile?'/'+obj[i].mobile:"")+'<img src="'+obj[i].avatar+'" class="avatar"></span><ul class="child"></ul></li>';
                    }
                    $(that).siblings('.child').html($html);
                }else{
                    layer.msg('没有下级用户了', {icon: 2,time:1500});
                    return false;
                }
            }
        });
    }
</script>
