<link rel="stylesheet" href="/static/layui/css/layui2.0.css" type="text/css">
<div class="page">

    <form class="layui-form" action="{:url('Userfriend/FriendList')}" method="get">

        <div class="layui-form-item ">
            <div class="layui-input-block layui-col-sm4">
                <input type="text" name="mobile"  placeholder="请输入用户手机号" required class="layui-input" value="{$mobile}">
            </div>

            <label class="layui-form-label">加入时间:</label>
            <div class="layui-input-inline">
                <input class="layui-input" name="starttime" value="{$starttime}" placeholder="开始时间" required onclick="layui.laydate({elem: this, istime: false, format: 'YYYY-MM-DD'})">
            </div>
            <div class="layui-input-inline">
                <input class="layui-input" name="endtime" value="{$endtime}" placeholder="结束时间" required onclick="layui.laydate({elem: this, istime: false, format: 'YYYY-MM-DD'})">
            </div>

            <span class="input-group-btn layui-input-block">
                  <button type="reset"  class="layui-btn layui-btn-primary">重置</button>
                  <button type="submit" class="layui-btn "><i class="fa fa-search"></i> 搜索</button>
            </span>
        </div>
    </form>

    <div class="clear"></div>
    <!-- 模板样式 -->
    <div class="layui-container">
        <div class="layui-form layui-col-sm12">
            <if condition="$friend">
                <table class="layui-table" lay-skin="line" >
                    <thead>
                    <tr>
                        <th >头像</th>
                        <th >昵称</th>
                        <th >电话</th>
                        <th >用户等级</th>
                    </tr>
                    </thead>
                    <volist name="$friend" id="val">
                        <tbody>
                        <tr class="goods_info_hover">
                            <td >
                                <if condition="!empty($val.avatar)">
                                    <img src="{$val.avatar}" class="avatar">
                                </if>
                            </td>
                            <td >{$val.nickname}</td>
                            <td >{$val.mobile}</td>
                            <td class="site-text">
                                <if condition="$val.level eq 1">
                                    <label class="layui-badge layui-bg-gray">普通用户</label>
                                    <elseif condition="$val['level'] eq 2"/>
                                    <label class="layui-badge layui-bg-black">超级达人</label>
                                    <elseif condition="$val['level'] eq 3"/>
                                    <label class="layui-badge layui-bg-blue">分享达人</label>
                                    <elseif condition="$val['level'] eq 4"/>
                                    <label class="layui-badge layui-bg-orange">运营达人</label>
                                    <elseif condition="$val['level'] eq 5" />
                                    <label class="layui-badge ">玩主</label>
                                </if>
                            </td>
                        </tr>

                        </tbody>
                    </volist>
                </table>
                <else />
                <div class="layui-field-title"></div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        暂无数据w(ﾟДﾟ)w
                    </div>
                </div>
            </if>
        </div>
    </div>


</div>

<script>

</script>