<div class="page" style="padding:20px 0px 0px 0px;">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">基本信息</li>
            <li>图片</li>
            <li>价格</li>
            <li>操作日志</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show" title="基本信息">
                <table class="layui-table view">
                    <tr>
                        <td class="label">商品名称：</td>
                        <td class="content">{$product.product_name}</td>
                    </tr>
                    <tr>
                        <td class="label">所属商家：</td>
                        <td class="content">{$product.merchant_name}</td>
                    </tr>
                    <tr>
                        <td class="label">商品分类：</td>
                        <td class="content">{$product.catestr}</td>
                    </tr>
                    <tr>
                        <td class="label">商品标签：</td>
                        <td class="content">{$product.tagstr}</td>
                    </tr>
                    <tr>
                        <td class="label">商品属性：</td>
                        <td class="content">{$product.property}</td>
                    </tr>
                    <eq name="product.product_timelimit" value="1">
                    <tr>
                        <td class="label">抢购时间：</td>
                        <td class="content">{$product.product_starttime|date='Y-m-d H:i:s',###} 至 {$product.product_endtime|date='Y-m-d H:i:s',###}</td>
                    </tr>
                    </eq>
                    <tr>
                        <td class="label">使用时间：</td>
                        <td class="content">{$product.product_startusetime|date='Y-m-d H:i:s',###} 至 {$product.product_endusetime|date='Y-m-d H:i:s',###}</td>
                    </tr>

                    <tr>
                        <td class="label">审核状态：</td>
                        <td class="content">
                            <if condition="$product.product_reviewstatus eq '0'">
                                待审核
                                <elseif condition="$product.product_reviewstatus eq '1'"/>
                                已通过
                                <else/>
                                驳回 <span style="color: red;">{$product.product_remark}</span>
                            </if>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">上下架状态：</td>
                        <td class="content">
                            <if condition="$product.product_status eq '0'">
                                已下架
                                <else/>
                                上架
                            </if>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">发布时间：</td>
                        <td class="content">{$product.product_addtime|date='Y-m-d H:i:s',###}</td>
                    </tr>
                    <tr>
                        <td class="label">更新时间：</td>
                        <td class="content">{$product.product_uptime|date='Y-m-d H:i:s',###}</td>
                    </tr>
                    <tr>
                        <td class="label">商品详情：</td>
                        <td class="content">{$product.product_info}</td>
                    </tr>
                    <tr>
                        <td class="label">使用方法：</td>
                        <td class="content">{$product.product_useinfo}</td>
                    </tr>
                    <tr>
                        <td class="label">温馨提示：</td>
                        <td class="content">{$product.product_notice}</td>
                    </tr>
                    <tr>
                        <td class="label">图文介绍：</td>
                        <td class="content tw">{$product.product_description}</td>
                    </tr>
                </table>
            </div>
            <div class="layui-tab-item" title="商品图片">
                <table class="layui-table view">
                    <tr>
                        <td class="label">封面图片：</td>
                        <td class="content"><a href="/uploads/{$product.product_pic}" target="_blank"><img src="/uploads/{$product.product_pic}" style="max-width: 200px;"></a> </td>
                    </tr>
                    <tr>
                        <td class="label">轮播图片：</td>
                        <td class="content">
                            <volist name="product.product_carousel" id="val">
                                <a href="/uploads/{$val}" target="_blank"><img src="/uploads/{$val}" style="max-width: 200px;"></a>
                            </volist>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">爆款图片：</td>
                        <td class="content">
                            <volist name="product.product_compic" id="val">
                                <a href="/uploads/{$val}" target="_blank"><img src="/uploads/{$val}" style="max-width: 200px;"></a>
                            </volist>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">海报封面：</td>
                        <td class="content"><a href="/uploads/{$product.product_poster}" target="_blank"><img src="/uploads/{$product.product_poster}" style="max-width: 200px;"></a> </td>
                    </tr>
                </table>
            </div>
            <div class="layui-tab-item" title="商品价格">
                <table class="layui-table view">
                    <tr>
                        <td class="label">属性：</td>
                        <td class="content">{$product.price.product_property}</td>
                    </tr>
                    <tr>
                        <td class="label">市场价：</td>
                        <td class="content">{$product.price.price_market}</td>
                    </tr>
                    <tr>
                        <td class="label">销售价：</td>
                        <td class="content" style="color: firebrick; font-weight: bold;">{$product.price.price_sale}</td>
                    </tr>
                    <tr>
                        <td class="label">佣金：</td>
                        <td class="content">{$product.price.price_commission}</td>
                    </tr>
                    <tr>
                        <td class="label">总库存：</td>
                        <td class="content">{$product.price.product_totalnum}</td>
                    </tr>
                    <tr>
                        <td class="label">已购数量：</td>
                        <td class="content">{$product.price.product_buynum}</td>
                    </tr>
                    <tr>
                        <td class="label">动态库存：</td>
                        <td class="content">{$product.price.product_dynamicnum}</td>
                    </tr>
                </table>
            </div>
            <div class="layui-tab-item" title="操作日志">
                <table class="layui-table view">
                    <tr>
                        <th>序号</th>
                        <th>操作源</th>
                        <th>操作账号</th>
                        <th>操作内容</th>
                        <th>操作时间</th>
                    </tr>
                    <volist name="product.logs" id="val">
                    <tr>
                        <td>{$i}</td>
                        <td>
                            <if condition="$val.operator_from eq 1">
                                店小二
                                <else/>
                                商家
                            </if>
                        </td>
                        <td>{$val.operator_name}</td>
                        <td>{$val.action}</td>
                        <td>{$val.addtime|date='Y-m-d H:i:s',###}</td>
                    </tr>
                    </volist>
                </table>
            </div>
        </div>
    </div>

    <div style="margin-left: 150px;">
        <a href="javascript:openWindow('审核-{$val.merchant_name}', '{:url('system/merchant/inview', array('id'=>$product['merchant_id']))}', '600px', '500px');" class="normalIcon" title="审核">审核</a>
    </div>
</div>
<script>


</script>