
</div>
<!-- footer -->
<script>
<notempty name="data.page">
/**分页相关**/
function getpageurl(number){
	var uu = '{$data.page.url}';
	pageindex = uu.indexOf('page');
	if(pageindex > 0){
		var pi = uu.indexOf('page')+5;
		var len = uu.length;
		var ende = 0;
		for(var i = pi; i<len; i++){
		    if(uu.substr(i,1) == '/'){
		        ende = i;
		        break;
		    }
		}
		if(ende > 0){
			return uu.substr(0,pi)+number+uu.substr(ende,len);
		}else{
			return uu.substr(0,pi)+number+'.html';
		}
	}
	return uu.replace('.html','')+'/page/'+number+'.html';
}
layui.use(['laypage'], function(){
    var laypage = layui.laypage
    
    laypage({
      cont: 'limitpage'
      ,pages: '{$data.page.pagecount|default=0}' //总页数
      ,groups: 5 //连续显示分页数
      ,curr:'{$data.page.pagenow|default=1}'
      ,jump:function(obj, first){
          //这里跳转分页
          if(!first){
             window.location.href=getpageurl(obj.curr);
        	  
          }
       }
    });
});
</notempty>
</script>
</body>
</html>