<if condition="$data.order_isexpress eq 2">
    <div class="layui-tab-item" title="预约发货信息">
        <table class="layui-table view">
            <thead>
            <tr>
                <th >发货时间</th>
                <th >备注</th>
                <th >预约时间</th>
            </tr>
            </thead>

            <tr>
                <td >{$delivery.day|date='Y-m-d H:i',###}</td>
                <td >{$delivery.remark}</td>
                <td >{$delivery.addtime|date='Y-m-d H:i',###}</td>
            </tr>
        </table>
    </div>
</if>