<ul class="nav nav-tabs">

    <li class="active">
    <a href="">全部订单({$count})</a>
    </li>
    <li >
    <a href="">待付款({$query['Thesum']['orderstatus1']})</a>
    </li>
    <li >
    <a href="">待发货({$query['Thesum']['orderstatus2']})</a>
    </li>
    <li>
    <a href="">待收货({$query['Thesum']['orderstatus3']})</a>
    </li>
    <li>
        <a href="">未完成({$query['Thesum']['orderstatus4']})</a>
    </li>
    <li>
    <li>
    <a href="">已完成({$query['Thesum']['orderstatus5']})</a>
    </li>
    <li>
    <a href="">已关闭({$query['Thesum']['orderstatus6']})</a>
    </li>
    <li>
    <a href="">退款申请({$query['Thesum']['orderstatus7']})</a>
    </li>
    <li>
    <a href="">已退款({$query['Thesum']['orderstatus8']})</a>
    </li>
    <li>
        <a href="">未退款({$query['Thesum']['orderstatus9']})</a>
    </li>
    <li>
        <a href="">已取消订单({$query['Thesum']['orderstatus10']})</a>
    </li>
    <li >
        <a href="#">订单详情</a>
    </li>

</ul>
