<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
<script src="/static/js/masonry.pkgd.min.js"></script>
<div class="page">

    
    <div class="r">
        <notempty name="addbtn">
        <if condition="$addbtn.type eq '1'">
        <a href="javascript:openWindow('{$addbtn.name}', '{$addbtn.url}', '{$addbtn.width}', '{$addbtn.height}')" class="layui-btn"><i class="fa fa-plus"></i> {$addbtn.name}</a>
        <else/>
        <a href="{$addbtn.url}" class="layui-btn"><i class="fa fa-plus"></i> {$addbtn.name}</a>
        </if>
        </notempty>
        <notempty name="addbtn2">
        <if condition="$addbtn2.type eq '1'">
        <a href="javascript:openWindow('{$addbtn2.name}', '{$addbtn2.url}', '{$addbtn2.width}', '{$addbtn2.height}')" class="layui-btn"><i class="fa fa-plus"></i> {$addbtn2.name}</a>
        <else/>
        <a href="{$addbtn2.url}" class="layui-btn"><i class="fa fa-plus"></i> {$addbtn2.name}</a>
        </if>
        </notempty>
    </div>
    <div class="wxsourcelist grid">
    
	    <volist name="datalist" id="val" key="a">
	    <eq name="val.msgtype" value="2">
	    <div class="lsitems grid-item txt">
	        <table>
	        <tr>
	        <td colspan="2" style="padding:10px;">
	            <div class="rq">ID:{$val.id} &nbsp; &nbsp;  &nbsp; 创建时间：{$val.createtime|date='Y-m-d',###}</div>
	            <div style=" border-top:1px solid #f4f6f5; margin-top:15px; padding-top:15px; padding-bottom:30px;">
	            {$val.returnstr}
	            </div>
	        </td>
	        </tr>
	        <tr>
	        <td class="db" colspan="2">
	            <a href="javascript:openWindow('编辑素材', '{:url('Wxsource/edittxt', array('id'=>$val['id']))}');" title="编辑"><i class="fa fa-edit"></i> 编辑</a>
	            <a href="javascript:sure('确定删除？', '{:url('Wxsource/delete', array('id'=>$val['id']))}')" style="border:none;" title="删除"><i class="fa fa-trash-o"></i> 删除</a>
	        </td>
	        </tr>
	        </table>
	    </div>
	    <else/>
	    <div class="lsitems grid-item">
	        <table>
	            <volist name="val.items" id="item" key="b">
	            <if condition="$b eq 1">
	            <tr>
	                <td colspan="2">
	                    <div class="sitembox first" style="border:2px solid #fff;">
	                        <div class="rq">ID:{$val.id} &nbsp; &nbsp;  &nbsp; 创建时间：{$val.createtime|date='Y-m-d',###}</div>
	                        <div class="item_pic first"><a href="{:url('Wxsource/edit', array('id'=>$val['id']))}"><img src="/uploads/{$item.pic|default='df.jpg'}" /></a></div>
	                        <div class="item_title">{$item.title}</div>
	                        <div class="clear"></div>
	                    </div>
	                </td>
	            </tr>
	            <else/>
	            <tr>
	                <td class="title"><a href="{:url('Wxsource/edit', array('id'=>$val['id']))}" >{$item.title}</a></td>
	                <td class="img"><img src="/uploads/{$item.pic|default='df.jpg'}" /></td>
	            </tr>
	            </if>
	            </volist>
	            <tr>
	                <td class="db" colspan="2">
	                <a href="{:url('Wxsource/edit', array('id'=>$val['id']))}" title="编辑"><i class="fa fa-edit"></i> 编辑</a>
	                <a href="javascript:sure('确定删除？', '{:url('Wxsource/delete', array('id'=>$val['id']))}');" style="border:none;" title="删除"><i class="fa fa-trash-o"></i> 删除</a>
	                </td>
	            </tr>
	        </table>
	    </div>
	    </eq>
	    </volist>
	    
	</div>
</div>

<script>
$(function(){
	$('.grid').masonry({
	  // options
	  itemSelector: '.grid-item',
	  columnWidth: 20
	});
})

function del(url){
	if(confirm('确定删除该素材？')){
		window.location.href=url;
	}
}
</script>
