<div class="shadow"></div>
<div class="tushi"><div style="width:100%; max-width:640px; margin:0px auto;"><span>toshi提示信息</span></div></div>
<div class="confirm2" >
    <div style=" background:#fff; margin:0px auto; width:258px; height:130px; border:1px solid #ebebeb;">
        <div class="msgtitle"><table><tr><td>提示信息</td></tr></table></div>
        <a href="javascript:;" class="btn1 l">确定</a>
        <a href="javascript:;" class="btn2 r">取消</a>
    </div>
</div>
<div class="confirm diyalert" >
    <div style=" background:#fff; margin:0px auto; width:258px; height:130px; border:1px solid #ebebeb;">
        <div class="msgtitle"><table><tr><td>提示信息</td></tr></table></div>
        <a href="javascript:;" class="btn2 r" style="width:100%;">确定</a>
    </div>
</div>