<!DOCTYPE html>
<html>
    <head>
        <title>乐玩联盟</title>
        <meta name="author" content="saltyfishweb.com">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="Cache-Control" CONTENT="no-cache">
        <link href="/www/css/main.css?rand={$time}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="/www/css/calendar.css?rand={$time}">
    </head>
<body style="background:#f5f5f5;">

<script src="/www/js/zepto.min.1.14.js"></script>
<script>
    $(function () {
        $.ajax({
            url:'a.html',
            headers:{sign:'ak15646', product:'wechatjs/app/applet', platform:'ios/android/other'}
        })
    })
</script>
</body>
</html>
